h1{
    background-color: bisque;
    color:indigo;
}

h3{
    background-color:rgb(168, 224, 144);
    color:rgb(25, 41, 0);
}

h5{
    background-color: rgb(203, 196, 255);
    color:rgb(12, 36, 86);
}